@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.header {
  padding: 60px;
  text-align: center;
  background: #FFFFFF;
  color: #FFFFFF;
  font-size: 30px;
}

body { 
  background-color: #FFFBF2; 
  font-family: 'Rubik', sans-serif; 
  max-width: 700px; 
  margin: 40px auto; 
  padding: 0 20px; 
}

h1 {
  color: #333333; 
  text-align: center; 
  font-family: 'Rubik', sans-serif; 
  margin-bottom: 1em; 
}

h2 {
  color: #FFFFFF;
  background-color: #37773B;
  text-align: left;
  font-family: 'Rubik', sans-serif;
}

